<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/addblog.css" class="css">
    <link rel="stylesheet" href="../public//home.css">
    <title>Blog</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h4><a href="/">Blogs</a></h4>
        </div>
    </div>

    <div class="final">
        <div class="blogform">
            <div class="bform">
                <h1>update Blog</h1>
                <form action="/updateblog/<%=up._id%>" method="post">
                    <input type="text" placeholder="enter title" name="btitle" value="<%=up.title%>">
                    <input type="text" placeholder="enter category" name="bcategory"value="<%=up.category%>">
                    <input type="text" placeholder="define shortly" name="bdefine"value="<%=up.define%>">
                    <textarea name="bdescription" id="" cols="30" rows="10" maxrows="15" maxcols="40" placeholder="description"><%=up.description%></textarea>
                    <button>save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>